$breakpoints: (small: 767px,
    medium: 991px,
    medium1024: 1024px,
    large: 1199px,
    xlarge: 1430px,
);


// COLORS  

$black: #000000;
$white: #ffffff;
$textdark: #1E1E1E;
$textgrey: #878C90;
$textdark2: #444346;
// $textdark: #242323;
$brandblue: #0097D6;
$darkblack: #121212;
$lightgrey: #f9f9f9;
$sectionbg: #F7F7F7;
$brightgrey: #EEEEEE;
$arsenic: #404041;
$footerdark: #272C33;
$tabactive: #C4C4C41A;
$border-grey: rgba(51, 51, 51, 0.2);
$cardbgdark: #231F20;
$darkbg: #1d1d1d;



// FONTS

// Define font families and their weights

// $fonts: ('centra': ('book': 'CentraNo1-Book',
//         'light': 'CentraNo1-Light',
//         'thin': 'CentraNo1-Thin',
//         'medium': 'CentraNo1-Medium',
//         'bold': 'CentraNo1-Bold'
//     ),

//     'volte': ('light': 'Volte-Light',
//         'regular': 'Volte-Regular',
//         'medium': 'Volte-Medium',
//         'bold': 'Volte-Bold'
//     )
    
    
//     );



$fonts-weight: (thin: 100,
    extralight: 200,
    light :300,
    regular: 400,
    medium: 500,
    semibold: 600,
    bold: 700,
    black: 800,
);


//Pre-def-CSS
%trans {
    transition: all 800ms ease;
}

%p {
    @extend.font-16px;
    line-height: 22px;
    margin: 0 0 10px;
    font-style: normal;
    color: inherit;
    font-weight: normal;
}

%h1 {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin: 0;
    padding: 0;
    @extend.font-50px;
}


%h2 {
    line-height: normal;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    margin: 0 0 2rem 0;
    padding: 0;
    font-family: inherit;
    // text-transform: uppercase;
     @extend.font-50px;
    @include respond-to(medium) {
        margin-bottom: 1rem;
    }
}

%h3 {
    letter-spacing: normal;
    line-height: normal;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    font-family: inherit;
    padding: 0;
    margin: 0 0 1rem 0;
    color: inherit;
    @extend.font-35px;
    @include font-gotham('medium');
}

%h4 {
    position: relative;
    letter-spacing: normal;
    color: inherit;
    font-family: inherit;
    font-weight: normal;
    @extend.font-24px;
        line-height: normal;

     margin: 0 0 1rem 0;
}


%h5 {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: inherit;
    font-family: inherit;
    margin-bottom: 1rem;
    @extend.font-18px ;
}

%h6 {
    font-family: inherit;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin: 0 0 1rem 0;
    padding: 0;
     @extend.font-12px;
    color: inherit;
}

%middle-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}



%absolute-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: $white;
    z-index: 2;
    text-align: center;
}

%absolute-middle-bottom {
    position: absolute;
    bottom: 3rem;
    left: 0;
    right: 0;
    margin: auto;
    transform: translate(0%, 0%);
    width: 95%;
    color: $white;
    z-index: 999;
    text-align: center;

}




%absolute-left {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    width: 95%;
    color: $white;
    z-index: 999;
    text-align: left;

}

%absolute-right {
    position: absolute;
    top: 50%;
    right: 0;
    margin: auto;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    width: auto;
    z-index: 999;

}

%absolute-left-bottom {
    position: absolute;
    bottom: 0;
    top: initial;
    left: 0;
    right: 0;
    margin: auto;
    transform: translate(0%, 0%);
    width: 100%;
    color: $white;
    z-index: 999;
    text-align: left;
    padding: 2rem;
}

%absolute-center {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

%imghoverscale{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    &::after{
    content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      top: 0;
      background: rgba($color: $black, $alpha: 0.5);
      opacity: 0;
      @extend%trans;
    }
}




%hover-overlay{
    img{
        @extend%trans;
    }
    &::after{
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        top: 0;
        background: rgba($color: $textdark, $alpha: 0.5);
        opacity: 0;
        @extend%trans;

      }
      &:hover{
        &::after{
          opacity: 1;
          @extend%trans;
        }
       img{
           @extend %imghoverscale;
         
       }
      }
}


// %text-hover-effect {
//     transition-property: transform;
//     transition-duration: .6s;
//     position: relative;
//     display: flex;
//     overflow: hidden;
//     height: 1.5rem;
//     -moz-transition: ease 0.35s all;
//     -o-transition: ease 0.35s all;
//     -webkit-transition: ease 0.35s all;
//     transition: ease 0.35s all;
//     &:hover {
//         line-height: 6.7rem;
//     }
//     &:before {
//         content: attr(data-text);
//         position: absolute;
//         top: -2.75rem;
//     }
// }


%br5{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

%br10{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}