
/* Simple Spinner Style */
@keyframes scale-middle {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    80% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 1.0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    svg {
        width: 80px;
        animation: spin 1.5s ease-in-out infinite, scale-middle 1.5s ease-in-out infinite;
        animation-delay: .05s, .1s;
        path {
            fill: #0097D5;
        }
    }
}


// .spinner {
//     border: 4px solid #f3f3f3;
//     /* Light background */
//     border-top: 4px solid #3498db;
//     /* Blue color for spinner */
//     border-radius: 50%;
//     width: 50px;
//     height: 50px;
//     animation: spin 2s linear infinite;
// }

// @keyframes spin {
//     0% {
//         transform: rotate(0deg);
//     }

//     100% {
//         transform: rotate(360deg);
//     }
// }